/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border{
    border: 1px solid black;
}

#body {
    max-width: 2000px;
    display: grid;
    grid-template-columns: 100px auto 50px;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
"header header aside"
"nav    main    aside"
"nav footer  footer"
;
}

#nav{
    grid-area: nav;
}
#header{
    grid-area: header;
}

#aside{
    grid-area: aside;
}
#footer{
    grid-area: footer;
}

#main{
    grid-area: main;
    height: 100vh;

}
